<div>
  <h5><%= Spree.t(:update_status) %></h5>
  <ul>
    <li>Number of records imported : <%= @total_records %> </li>
    <li>Number of records failed : <%= @failed_records %> </li>
  </ul>
  <strong>Attached is a csv file of failed records for your information.</strong>
</div>
